@model List<Bloggie.Web.Models.Domain.BlogPost>

@{
}

<div class=" pt-4">
    <div class="container">
        <h1>@Resource.AllPosts - @Resource.Admin </h1>
    </div>
</div>


<div class="container pb-5 pt-3">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>@Resource.Heading</td>
                    <td>@Resource.Tags</td>
                    <td> </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.Name</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                               asp-controller="AdminBlogPosts"
                               asp-action="Edit"
                               asp-route-id="@blogPost.Id">
                                @Resource.Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Resource.NoPostFound</p>
    }

</div>